In [136]:
from pymongo import MongoClient
import pandas as pd
from bs4 import BeautifulSoup
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import matplotlib.pyplot as plt
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
import string

In [137]:
client = MongoClient("mongodb+srv://maanas:abcd@tweets-am9qn.mongodb.net/test?retryWrites=true&w=majority")

In [138]:
countries = []
topics = []
if client != None:
    database_names = client.list_database_names()

    print (len(database_names), "topics.")
    for db in database_names:
        topics.append(db)

7 topics.

In [139]:
topics

['coronavirus_covid',
 'disease_coronavirus_covid',
 'india_china',
 'india_modi',
 'twitter',
 'admin',
 'local']

In [140]:
topic = "disease_coronavirus_covid"

In [141]:
collection_names = client[topic].list_collection_names()
for i in (collection_names):
            countries.append(i)

In [142]:
countries

['jersey',
 'kenya',
 'cuba',
 'bangladesh',
 'ireland',
 'mexico',
 'ukraine',
 'guyana',
 'belarus',
 'finland',
 'south sudan',
 'norway',
 'china',
 'cameroon',
 'morocco',
 'holy see (vatican city state)',
 'isle of man',
 'kyrgyzstan',
 'indonesia',
 'united states minor outlying islands',
 'japan',
 'nigeria',
 'ghana',
 'singapore',
 'moldova republic of',
 'namibia',
 'italy',
 'dominican republic',
 'jamaica',
 'chile',
 'eritrea',
 'australia',
 'canada',
 'lebanon',
 'united arab emirates',
 'anguilla',
 'belgium',
 'hong kong',
 'honduras',
 'poland',
 'ecuador',
 'colombia',
 'micronesia federated states of',
 'united states',
 'austria',
 'thailand',
 'jordan',
 'denmark',
 'saint barthélemy',
 'virgin islands us',
 'israel',
 'qatar',
 'gabon',
 'azerbaijan',
 'pakistan',
 'portugal',
 'nepal',
 'cambodia',
 'malawi',
 'cyprus',
 'puerto rico',
 'sweden',
 'niger',
 'lesotho',
 'netherlands',
 'tunisia',
 'georgia',
 'sao tome and principe',
 'latvia',
 'somalia',
 'andorra',
 'panama',
 'seychelles',
 'american samoa',
 'switzerland',
 'turkey',
 'guatemala',
 'maldives',
 'lao peoples democratic republic',
 'congo',
 'malaysia',
 'rwanda',
 'cayman islands',
 'uganda',
 'montserrat',
 'burundi',
 'serbia',
 'macao',
 'zimbabwe',
 'philippines',
 'spain',
 'malta',
 'albania',
 'montenegro',
 'peru',
 'afghanistan',
 'ethiopia',
 'india',
 'greece',
 'armenia',
 'new caledonia',
 'mongolia',
 'argentina',
 'tonga',
 'sudan',
 'monaco',
 'egypt',
 'angola',
 'kazakhstan',
 'germany',
 'haiti',
 'brazil',
 'france',
 'nicaragua',
 'oman',
 'iraq',
 'iceland',
 'bahrain']

In [143]:
counts = []
sentiments = []
numtwts = []

In [144]:
db = client[topic]

for i in countries:
    collection = db[i]
    documents = []
    for doc in collection.find():
        documents.append(doc)

    df = pd.DataFrame(documents)
    df['tweet_source'] = df['source'].apply(lambda x: BeautifulSoup(x,features="html.parser").get_text())
    devices = list(set(df[df['tweet_source'].str.startswith('Twitter')]['tweet_source']))
    adstring = 'Twitter for Advertisers'

    if adstring in devices:
        devices.remove('Twitter for Advertisers')

    df = df[df['tweet_source'].isin(devices)]
    
    nltk.download('stopwords', quiet=True)
    nltk.download('vader_lexicon', quiet=True)

    df['tokens'] = df['text'].apply(TweetTokenizer().tokenize)

    stopwords_vocabulary = stopwords.words('english')
    df['stopwords'] = df['tokens'].apply(lambda x: [i for i in x if i.lower() not in stopwords_vocabulary])

    punctuations = list(string.punctuation)

    df['punctuation'] = df['stopwords'].apply(lambda x: [i for i in x if i not in punctuations])
    df['digits'] = df['punctuation'].apply(lambda x: [i for i in x if i[0] not in list(string.digits)])
    df['final'] = df['digits'].apply(lambda x: [i for i in x if len(i) > 1])


    sentiment = SentimentIntensityAnalyzer()

    df['sentiment'] = df.text.apply(lambda x: sentiment.polarity_scores(x)['compound'])

    pos = len(df[df.sentiment > 0])
    neg = len(df[df.sentiment < 0])
    neu = len(df[df.sentiment == 0])

    y = [pos, neu, neg]
    counts.append(i)
    sentiments.append(y)
    numtwts.append(len(documents))

In [145]:
counts

['jersey',
 'kenya',
 'cuba',
 'bangladesh',
 'ireland',
 'mexico',
 'ukraine',
 'guyana',
 'belarus',
 'finland',
 'south sudan',
 'norway',
 'china',
 'cameroon',
 'morocco',
 'holy see (vatican city state)',
 'isle of man',
 'kyrgyzstan',
 'indonesia',
 'united states minor outlying islands',
 'japan',
 'nigeria',
 'ghana',
 'singapore',
 'moldova republic of',
 'namibia',
 'italy',
 'dominican republic',
 'jamaica',
 'chile',
 'eritrea',
 'australia',
 'canada',
 'lebanon',
 'united arab emirates',
 'anguilla',
 'belgium',
 'hong kong',
 'honduras',
 'poland',
 'ecuador',
 'colombia',
 'micronesia federated states of',
 'united states',
 'austria',
 'thailand',
 'jordan',
 'denmark',
 'saint barthélemy',
 'virgin islands us',
 'israel',
 'qatar',
 'gabon',
 'azerbaijan',
 'pakistan',
 'portugal',
 'nepal',
 'cambodia',
 'malawi',
 'cyprus',
 'puerto rico',
 'sweden',
 'niger',
 'lesotho',
 'netherlands',
 'tunisia',
 'georgia',
 'sao tome and principe',
 'latvia',
 'somalia',
 'andorra',
 'panama',
 'seychelles',
 'american samoa',
 'switzerland',
 'turkey',
 'guatemala',
 'maldives',
 'lao peoples democratic republic',
 'congo',
 'malaysia',
 'rwanda',
 'cayman islands',
 'uganda',
 'montserrat',
 'burundi',
 'serbia',
 'macao',
 'zimbabwe',
 'philippines',
 'spain',
 'malta',
 'albania',
 'montenegro',
 'peru',
 'afghanistan',
 'ethiopia',
 'india',
 'greece',
 'armenia',
 'new caledonia',
 'mongolia',
 'argentina',
 'tonga',
 'sudan',
 'monaco',
 'egypt',
 'angola',
 'kazakhstan',
 'germany',
 'haiti',
 'brazil',
 'france',
 'nicaragua',
 'oman',
 'iraq',
 'iceland',
 'bahrain']

In [146]:
pos = [i[0] for i in sentiments]
neu = [i[1] for i in sentiments]
neg = [i[2] for i in sentiments]

In [147]:
numtwts

[36,
 38,
 2,
 10,
 42,
 30,
 6,
 2,
 6,
 2,
 2,
 36,
 6,
 2,
 34,
 40,
 2,
 2,
 57,
 2,
 24,
 123,
 20,
 44,
 52,
 4,
 22,
 4,
 10,
 10,
 4,
 139,
 438,
 112,
 8,
 2,
 10,
 2,
 12,
 10,
 16,
 72,
 4,
 752,
 12,
 26,
 4,
 4,
 2,
 2,
 104,
 38,
 72,
 90,
 38,
 6,
 18,
 4,
 4,
 2,
 2,
 40,
 10,
 2,
 8,
 42,
 32,
 18,
 6,
 4,
 62,
 152,
 70,
 2,
 38,
 4,
 28,
 2,
 60,
 2,
 18,
 2,
 18,
 8,
 8,
 2,
 10,
 48,
 2,
 554,
 18,
 8,
 26,
 12,
 2,
 6,
 10,
 587,
 4,
 4,
 92,
 28,
 12,
 48,
 3,
 2,
 4,
 2,
 2,
 48,
 2,
 12,
 48,
 2,
 12,
 2,
 4,
 11]

In [148]:
res = pd.DataFrame({'country': counts, 'positive': pos, 'neutral': neu, 'negative':neg})

In [149]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [150]:
res

                                  country  positive  neutral  negative
0                                  jersey        12       12         2
1                                   kenya         8       16        10
2                                    cuba         0        2         0
3                              bangladesh         2        4         2
4                                 ireland         6        8         4
5                                  mexico         6       12         4
6                                 ukraine         0        4         0
7                                  guyana         0        0         0
8                                 belarus         0        2         4
9                                 finland         0        0         2
10                            south sudan         0        2         0
11                                 norway         6       18         4
12                                  china         0        2         2
13                               cameroon         0        2         0
14                                morocco        12       16         2
15          holy see (vatican city state)         4        2        12
16                            isle of man         0        0         2
17                             kyrgyzstan         0        2         0
18                              indonesia         4       25         4
19   united states minor outlying islands         0        0         2
20                                  japan         4       10         8
21                                nigeria        22       20        14
22                                  ghana         6        8         6
23                              singapore        12       16        10
24                    moldova republic of         8       10        14
25                                namibia         2        0         0
26                                  italy         6        4         6
27                     dominican republic         2        0         2
28                                jamaica         2        0         4
29                                  chile         0       10         0
30                                eritrea         0        4         0
31                              australia        21       46        28
32                                 canada       108       96       100
33                                lebanon         0        2         0
34                   united arab emirates         0        2         4
35                               anguilla         2        0         0
36                                belgium         2        6         0
37                              hong kong         2        0         0
38                               honduras         0       12         0
39                                 poland         6        0         0
40                                ecuador         0       14         0
41                               colombia         6       36        20
42         micronesia federated states of         0        0         0
43                          united states       162      286       184
44                                austria         2        0         0
45                               thailand         0       18         2
46                                 jordan         0        0         2
47                                denmark         0        4         0
48                       saint barthélemy         0        0         2
49                      virgin islands us         0        2         0
50                                 israel        20       52         8
51                                  qatar         0       24         0
52                                  gabon        10       18        16
53                             azerbaijan        24       12        14
54                               pakistan         4       14        14
55                               portugal         0        4         2
56                                  nepal         2       16         0
57                               cambodia         2        0         0
58                                 malawi         2        0         2
59                                 cyprus         2        0         0
60                            puerto rico         0        0         0
61                                 sweden         0       18         4
62                                  niger         0        8         2
63                                lesotho         0        2         0
64                            netherlands         2        4         2
65                                tunisia         4        8         6
66                                georgia         6       20         4
67                  sao tome and principe         8        6         2
68                                 latvia         0        4         0
69                                somalia         2        2         0
70                                andorra         8       22        12
71                                 panama        16       40        20
72                             seychelles        14       20         8
73                         american samoa         2        0         0
74                            switzerland         4       10         2
75                                 turkey         0        4         0
76                              guatemala         0        4         0
77                               maldives         0        2         0
78        lao peoples democratic republic         8       14         6
79                                  congo         0        2         0
80                               malaysia         0        6         4
81                                 rwanda         2        0         0
82                         cayman islands         4        4         4
83                                 uganda         0        2         4
84                             montserrat         0        2         0
85                                burundi         0        0         0
86                                 serbia         0        6         4
87                                  macao         4       24         6
88                               zimbabwe         2        0         0
89                            philippines        38       54         9
90                                  spain         2        6         6
91                                  malta         2        0         2
92                                albania         2       10         4
93                             montenegro         0       10         0
94                                   peru         0        2         0
95                            afghanistan         0        4         2
96                               ethiopia         4        4         0
97                                  india       116      132       116
98                                 greece         0        2         2
99                                armenia         2        0         0
100                         new caledonia        12       42        12
101                              mongolia        10        4         4
102                             argentina         4        4         2
103                                 tonga        10        4         2
104                                 sudan         0        0         1
105                                monaco         0        2         0
106                                 egypt         0        4         0
107                                angola         2        0         0
108                            kazakhstan         0        0         2
109                               germany         4       22         8
110                                 haiti         2        0         0
111                                brazil         2        4         6
112                                france         8       14        14
113                             nicaragua         0        2         0
114                                  oman         4        4         2
115                                  iraq         0        2         0
116                               iceland         0        2         0
117                               bahrain         0        0         0

In [111]:
res.set_index('country')

                                      positive  neutral  negative
country
jersey                                       6        6         1
kenya                                        4        8         5
cuba                                         0        1         0
bangladesh                                   1        2         1
ireland                                      3        4         2
mexico                                       3        6         2
ukraine                                      0        2         0
guyana                                       0        0         0
belarus                                      0        1         2
finland                                      0        0         1
south sudan                                  0        1         0
norway                                       3        9         2
china                                        0        1         1
cameroon                                     0        1         0
morocco                                      6        8         1
holy see (vatican city state)                2        1         6
isle of man                                  0        0         1
kyrgyzstan                                   0        1         0
indonesia                                    2       12         2
united states minor outlying islands         0        0         1
japan                                        2        5         4
nigeria                                     11       10         7
ghana                                        3        4         3
singapore                                    6        8         5
moldova republic of                          4        5         7
namibia                                      1        0         0
italy                                        3        2         3
dominican republic                           1        0         1
jamaica                                      1        0         2
chile                                        0        5         0
eritrea                                      0        2         0
australia                                   10       23        14
canada                                      54       48        50
lebanon                                      0        1         0
united arab emirates                         0        1         2
anguilla                                     1        0         0
belgium                                      1        3         0
hong kong                                    1        0         0
honduras                                     0        6         0
poland                                       3        0         0
ecuador                                      0        7         0
colombia                                     3       18        10
micronesia federated states of               0        0         0
united states                               81      143        92
austria                                      1        0         0
thailand                                     0        9         1
jordan                                       0        0         1
denmark                                      0        2         0
saint barthélemy                             0        0         1
virgin islands us                            0        1         0
israel                                      10       26         4
qatar                                        0       12         0
gabon                                        5        9         8
azerbaijan                                  12        6         7
pakistan                                     2        7         7
portugal                                     0        2         1
nepal                                        1        8         0
cambodia                                     1        0         0
malawi                                       1        0         1
cyprus                                       1        0         0
puerto rico                                  0        0         0
sweden                                       0        9         2
niger                                        0        4         1
lesotho                                      0        1         0
netherlands                                  1        2         1
tunisia                                      2        4         3
georgia                                      3       10         2
sao tome and principe                        4        3         1
latvia                                       0        2         0
somalia                                      1        1         0
andorra                                      4       11         6
panama                                       8       20        10
seychelles                                   7       10         4
american samoa                               1        0         0
switzerland                                  2        5         1
turkey                                       0        2         0
guatemala                                    0        2         0
maldives                                     0        1         0
lao peoples democratic republic              4        7         3
congo                                        0        1         0
malaysia                                     0        3         2
rwanda                                       1        0         0
cayman islands                               2        2         2
uganda                                       0        1         2
montserrat                                   0        1         0
burundi                                      0        0         0
serbia                                       0        3         2
macao                                        2       12         3
zimbabwe                                     1        0         0
philippines                                 19       27         4
spain                                        1        3         3
malta                                        1        0         1
albania                                      1        5         2
montenegro                                   0        5         0
peru                                         0        1         0
afghanistan                                  0        2         1
ethiopia                                     2        2         0
india                                       58       66        58
greece                                       0        1         1
armenia                                      1        0         0
new caledonia                                6       21         6
mongolia                                     5        2         2
argentina                                    2        2         1
tonga                                        5        2         1
sudan                                        0        0         0
monaco                                       0        1         0
egypt                                        0        2         0
angola                                       1        0         0
kazakhstan                                   0        0         1
germany                                      2       11         4
haiti                                        1        0         0
brazil                                       1        2         3
france                                       4        7         7
nicaragua                                    0        1         0
oman                                         2        2         1
iraq                                         0        1         0
iceland                                      0        1         0
bahrain                                      0        0         0

In [152]:
ex = pd.read_excel("https://github.com/chris1610/pbpython/blob/master/data/salesfunnel.xlsx?raw=True")
pv = pd.pivot_table(ex, index=['Name'], columns=["Status"], values=['Quantity'], aggfunc=sum, fill_value=0)

In [154]:
ex

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented